<meta charset="utf-8"/>

<section class="main-content login-content">
	<div class="ui-form">
		<div class="form-item">
			<label>用户名：</label>
			<input type="text" name="username" id="username" placeholder="请输入用户名" />
		</div>
		<div class="form-item">
			<label>密码：</label>
			<input type="password" name="password" id="password" placeholder="请输入密码" />
		</div>
	</div>

	<button class="button">登录</button>
</section>

<script type="text/javascript" src="/javascripts/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/javascripts/login.js"></script>
