<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="/stylesheets/wac-login/base.css" />
		<link rel="stylesheet" href="/stylesheets/wac-login/common.css" />
	</head>
	<body>
		<section class="section-block mgtop25 mgbottom10">
			<div class="rect-item">
				<input type="password" id="" name="" placeholder="旧密码" />
			</div>
			<div class="rect-item">
				<input type="password" id="" name="" placeholder="新密码" />
			</div>
			<div class="rect-item">
				<input type="password" id="" name="" placeholder="确认新密码" />
			</div>
		</section>
		<p class="guide">请输入6～16位之间的密码</p>
		<div class="submit-button mgleft15 mgright15 mgtop10">完成</div>
	</body>
</html>
